html {
    margin: 0;
    padding: 0;

    background-color: #0B0F14;

   /* background-image: url('./assets/Pictures/Background.jpg');
    background-color: #cccccc;                                    
    background-size: 100vw 100vh; ;*/
}