html, body {
    margin: 0;
    padding: 0;

    background-color: var(--primary-bg-color);
    width: 100%;

    overscroll-behavior: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}


.front {
    display: flex;
}

.frontImg {
    width: 30rem;
    height: auto;
    max-width: 100%;
}



.frontPage {
    position: relative;
    z-index: 1;
    color: var(--primary-txt-color);
    font-weight: bold;

    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;

    display: flex;
    flex-direction: column;
}

.frontHeading {
    font-size: var(--heading-txt-size);
    
}

.frontBtn {
    background-color: #F0EAD6;
    color: var(--secondary-txt-color);

    font-weight: bold;
    font-size: var(--btn-txt-size);

    width: 12em;
    height: auto;
    min-height: 5vh;
    

    border-radius: var(--btn-radius);
}

.frontBtn a {
    color: var(--secondary-txt-color);
    text-decoration: none;
}


.frontBtn:hover {
    box-shadow: 10px 10px 25px rgba(21, 50, 100, 0.5);
    cursor: pointer;
}


@media only screen and (max-width: 1000px) {
    .frontImg {
        visibility: hidden;
        display: none;
      
    }
    .frontHeading {
        font-size: var(--heading-txt-phone-size);
        text-align: center;
       
    }

    .frontPage {
        margin-top: 4em;
    }

    
    .frontText {
        font-size: var(--p-txt-phone-size);
    }

}





