html, body {
    margin: 0;
    padding: 0;

    background-color: var(--primary-bg-color);
    padding-bottom: 80px;
}

.front {
    display: flex;
}

.frontImg {
    width: 30rem;
    height: auto;
    max-width: 100%;
}

@media only screen and (max-width: 1000px) {
    .frontImg {
        visibility: hidden;
        display: none;
      
    }
    .front {
        font-size: var(--heading-txt-phone-size);
    }
    

}

.frontPage {
    position: relative;
    z-index: 1;
    color: var(--primary-txt-color);
    font-weight: bold;

    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;

    font-size: var(--heading-txt-size);

    display: flex;
    flex-direction: column;


}

.frontBtn {
    background-color: #F0EAD6;
    color: var(--secondary-txt-color);

    font-weight: bold;
    font-size: var(--btn-txt-size);

    width: 15vw;
    height: 5vh;

    border-radius: var(--btn-radius);
}


.frontBtn:hover {
    box-shadow: 10px 10px 25px rgba(21, 50, 100, 0.5);
    cursor: pointer;
}

.frontHeading {
    margin-bottom:1rem;
}

.frontText {
   
    font-size: 0.8rem;
    text-decoration: none;
    margin-top: -2rem;
}

.meHeading {
    font-size: var(--heading-txt-size);
    font-weight: bold;
    color: var(--primary-txt-color)
}

.frontMain {
    margin-top: 10rem;

    border: 1px solid;

    width: 75vw;
    margin-left: auto;
    margin-right: auto;


}


