.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid;

    padding: 1.5rem;

    font-size: 25px;
    font-weight: bold;
    color: var(--secondary-txt-color);
    
    background-color: var(--secondary-bg-color);
    font-family: 'JetBrains Mono', monospace;   
}
.header a:hover {
    color: #153243; 
    
}
.header a {
    text-decoration: none;
    cursor: pointer;

}

