.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 100%;
  padding: 1.25rem;
  padding-left: 2rem;
  padding-right: 8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid;

  font-family: 'JetBrains Mono', monospace;
  
}

.header a:hover {
    color: #153243; 
    text-decoration: underline;
}

.home {
  text-decoration: none;
  color: var(--secondary-txt-color);
  font-weight: 700;

  font-size: 1.7rem;
}

@media (max-width: 768px) {
  .home {
    font-size: 1rem;
    margin-right: 0.75rem;

  }

  .header {
    padding-left: 0.75rem;
    padding-right: 0.75rem;

  }

  }


