.navbar {
  display: flex;
  
  align-items: center;
  gap: 3rem;

} 
.navItem {
  text-decoration: none;
  
  font-weight: 600;

  font-size: 1.7rem;
  white-space: nowrap;

  color: var(--secondary-txt-color);
 
  cursor: pointer;
  text-decoration: none;
}

.mobileNavBar {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
 
  gap: 3rem;
  color: var(--secondary-txt-color);
}



@media (max-width: 1000px) {
  .navItem {
    font-size: 1rem;
  }

  .navbar {
    display: none;
  }
  }





