.navbar {
  display: flex;
  
  align-items: center;
  gap: 3rem;

} 
.navItem {
  text-decoration: none;
  
  font-weight: 600;

  font-size: 1.7rem;
  white-space: nowrap;

  color: var(--secondary-txt-color);
 
  cursor: pointer;
  text-decoration: none;
}

.mobileNavBar {


  border-radius: 5px;

  padding: 7px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: absolute;
  right: 1px;
  display: flex;
  flex-direction: column;

  background-color: var(--secondary-bg-color);
  
  
 
  gap: 2rem;
  color: var(--secondary-txt-color);
  
}

button {
  background-color: var(--secondary-bg-color);
  border: none;
  width: fit-content;
  
}


@media (max-width: 1000px) {
  .navItem {
    font-size: 1rem;
  }

  .navbar {
    display: none;
  }
  }





